<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1">
<title>login page</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
			
<link rel="stylesheet" th:href="@{/css/form.css}" type="text/css">
</head>
<body>
	<div class="container-md">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1 class="text-center">Add Item </h1>
				
				<!-- Success message -->
				<div th:if="${#request.getParameter('msg')} != null">
					<div class="alert alert-info" th:text="${#request.getParameter('msg')}"></div>
				</div>
				
				<!-- Form for editing item -->
				<form th:action="@{/item}" method="post" th:object="${item}" enctype="multipart/form-data" >
					
					<!-- Filed for item name -->
					<div class="form-group">
						<label class="control-label" for="name">Item Name</label>
						<input class="form-control" th:field="*{itemName}" autofocus="autofocus" />
						<p th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}" class="error"></p>
					</div>
					
					<!-- Field for item quantity -->
					<div class="form-group">
						<label class="control-label" for="quantity">Quantity</label>
						<input type="number" class="form-control" th:field="*{quantity}"  min="0"/>
						<p th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="error"></p>
					</div>
					
					<!-- Field for item location -->
					<div class="form-group">
						<label class="control-label" for="location">Location</label>
						<input class="form-control" th:field="*{location}"  />
						<p th:if="${#fields.hasErrors('location')}" th:errors="*{location}" class="error"></p>
					</div>
					
					<!-- Field for item description -->
					<div class="form-group">
						<label class="control-label" for="description">Description</label>
						<textarea  class="form-control" rows="3" th:field="*{description}"></textarea>
						<p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error"></p>
					</div>
					
					<!-- Field to upload image file -->
					<div class="form-group">
						<label class="control-label" for="username">Upload Image</label>
						<input class="form-control" type="file" accept="image" id="picture" name="picture" required/>
					</div>
					
					<!-- File format not supported error message -->
					<div th:if="${param.fail}">
						<p class="error">Image format not supported</p>
					</div>
					
					<!-- Submit button -->
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3" >
								<input class="form-control btn btn-primary" type="submit" name="addItem" id="addItem"  value="Submit"/>
							</div>
						</div>
					</div>
				</form>
				
				
				<!-- Link to the home page -->
				<div class="form-group">
					<span><a href="/" th:href="@{/}">Back to home</a></span>
				</div>
			</div>
		</div>	
	</div>
</body>
</html>