<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1">
<title>login page</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
							integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
							crossorigin="anonymous">
			
<link rel="stylesheet" th:href="@{/css/form.css}" type="text/css">
</head>
<body>
	<div class="container-md">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1 class="text-center">Edit Item </h1>
								<!-- Success message -->
				<div th:if="${param.success}">
					<div class="alert alert-info">Item updated successfully</div>
				</div>
				
				
				<!-- Form for editing item -->
				<form th:action="@{/item}" method="post" th:object="${item}" enctype="multipart/form-data" >
					<div class="form-group">
						<input type="hidden" class="form-control" th:field="*{id}" />
						
					</div>
					<div class="form-group">
						<label class="control-label" for="name">Item Name</label>
						<input class="form-control" th:field="*{itemName}" autofocus="autofocus" />
						<p th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}"></p>
					</div>
					
					<div class="form-group">
						<label class="control-label" for="quantity">Quantity</label>
						<input type="number" class="form-control" th:field="*{quantity}"  min="0"/>
						<p th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></p>
					</div>
					
					<div class="form-group">
						<label class="control-label" for="location">Location</label>
						<input class="form-control" th:field="*{location}"  />
						<p th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></p>
					</div>
					
					<div class="form-group">
						<label class="control-label" for="description">Description</label>
						<textarea  class="form-control" rows="3" th:field="*{description}"></textarea>
						<p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
					</div>
					<div class="form-group">
						<label class="control-label" for="username">Upload Image</label>
						<input class="form-control" type="file" accept="image" id="picture" name="picture" required/>
					</div>
					
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3" >
								<input class="form-control btn btn-primary" type="submit" name="addItem" id="addItem"  value="Update"/>
							</div>
						</div>
					</div>
				</form>
				
				
				
				<div class="form-group">
					<span><a href="/" th:href="@{/}">Back to home</a></span>
				</div>
			</div>
		</div>	
	</div>
</body>
</html>