<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/themeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>login page</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/form.css}" type="text/css">		

</head>
<body>
	<div class="container-md">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1>Please Login </h1>
				<!-- show login error message -->
				<div th:if="${param.error}">
					<div class="alert alert-danger">Invalid username and/or password</div>
				</div>
				<!-- show logout message -->
				<div th:if="${param.logout}">
					<div class="alert alert-info">You have been logged out</div>
				</div>
				
				<!-- Form for login -->
				<form th:action="@{/login}" method="post">
					<!-- Field for Username -->
					<div class="form-group">
						<label class="control-label" for="email">Username</label>
						<input class="form-control" name="username"  autofocus="autofocus" required/>
					</div>
					
					<!-- Field for password -->
					<div class="form-group">
						<label class="control-label" for="username">Password</label>
						<input class="form-control" type="password"  name="password" required/>
					</div>
					
					<!-- Login button -->
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3" >
								<input class="form-control btn btn-primary" type="submit" name="login" id="login"  value="LogIn"/>
							</div>
						</div>
					</div>
				</form>
				
				<!-- Link to the registration page -->
				<div class="form-group">
					<span>New User? <a th:href="@{/registration}">Click here to register</a></span>
				</div>
			</div>
		</div>	
	</div>
</body>
</html>